extends layout

block content

    section.css-table
        h2 Account settings

        - if(locals.flashmsg)
            div(class="alert alert-error") #{locals.flashmsg}

        form(name="register", action="/account-settings", method="post")
          div
            label Username:
            input(name='user[username]', value=user.username || '')
            - if(locals.validationerrors.username)
                label(for="user[username]", class="text-error") #{locals.validationerrors.username.type}
          div
            label Email:
            input(name='user[email]', value=user.email || '')
            - if(locals.validationerrors.email)
                label(for="user[email]", class="text-error") #{locals.validationerrors.email.type}

          div
            input(type="submit", id='update', value="Update account settings")


        form(name="changePassword", action="/authedPasswordChange", method="post")
          div
            input(type="hidden", name="token", value="#{locals.username}")
            input(type="submit", id="changePassword", value="Change password")